ReplicationService/Web References/DBFReplication/ReplicationStarter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetReplicationStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taskName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReplicationStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetReplicationStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Execute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commandArgs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetReplicationStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetReplicationStatus" />
  </wsdl:message>
  <wsdl:message name="GetReplicationStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetReplicationStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:portType name="ReplicationStarterSoap">
    <wsdl:operation name="GetReplicationStatus">
      <wsdl:input message="tns:GetReplicationStatusSoapIn" />
      <wsdl:output message="tns:GetReplicationStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input message="tns:ExecuteSoapIn" />
      <wsdl:output message="tns:ExecuteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReplicationStarterSoap" type="tns:ReplicationStarterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReplicationStatus">
      <soap:operation soapAction="http://tempuri.org/GetReplicationStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://tempuri.org/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReplicationStarterSoap12" type="tns:ReplicationStarterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReplicationStatus">
      <soap12:operation soapAction="http://tempuri.org/GetReplicationStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap12:operation soapAction="http://tempuri.org/Execute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReplicationStarter">
    <wsdl:port name="ReplicationStarterSoap" binding="tns:ReplicationStarterSoap">
      <soap:address location="http://nsd-srv/nsd2_Webservice/ReplicationStarter.asmx" />
    </wsdl:port>
    <wsdl:port name="ReplicationStarterSoap12" binding="tns:ReplicationStarterSoap12">
      <soap12:address location="http://nsd-srv/nsd2_Webservice/ReplicationStarter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>